<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connect>
		<dbhost>localhost</dbhost>
		<dbname>someshop</dbname>
		<dbtype>postgres</dbtype>
		<port>5432</port>
	</connect>
	<user>
		<login>postgres</login>
		<password>12345</password>
	</user>
	<settings>
		<botToken>409034602:AAE7Tbs2-7DF6h5h8RJDn47KFzPc9lGs5ic</botToken>
		<updateOffSet>0</updateOffSet>
    	<updateTimeOut>64</updateTimeOut>
		<mapsApiKey>AIzaSyCPSKfYtsbLI1VmrfXYimmpZqDmIfZcEpQ</mapsApiKey>
	</settings>
</configuration>
